

		#firstParagraph {
			font-family: Arial;
			color: pink;
			text-align: center;
		}

		img {
			width: 50px;
			height: 50px;
		}

		#picWithText {
			background: url('http://cdn3-www.dogtime.com/assets/uploads/gallery/golden-retriever-puppies_3/gp-6.jpg');
			text-align: center;
			height: 447px;
			width: 680px;
		}

		#picWithText h2 {
			height:447px;
			width: 680px;
			line-height: 447px;
			color: white;
		}

		#marginPic {
			height:314px;
			width:236px;
			margin:20px;
		}

		#textBorder {
			font-size: 30px;
			text-align: center;
			color: red;

			border:3px;
			border-style:dotted;
		}


		#floatingStuff {
			height: 6em;
		}
		#floatingStuff #firstHeader {
			float:left;
		}

		#floatingStuff #secondHeader {
			float:right;
		}

		#roundedBorder {
			background: url('https://s-media-cache-ak0.pinimg.com/736x/fc/0e/38/fc0e38b2aced75c86ea40963aa161cc4.jpg');
			background-size: cover;
			align-self: center;
			height:300px;
			width:300px;
			border-radius: 30px;
		}
