#Header {
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    text-align: center;

}

#LeftNav {
    border: solid 8px black;
    width: 400px
    float: left;
    text-align: center;
    padding-bottom: 8px;
}

#Content {
    border: solid 8px black;
    
}

#Footer {
    border: solid 8px black;
}